<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="padding-top: 0px;padding-bottom: 0px;" href="/Home/Index">
      <img src="Images/logo-pardos.png" style="height: 80px; padding-left:25px;" />
    </a>
  </div>
  <ul class="nav navbar-right top-nav" id="menu">
    <li class="dropdown">
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in fa-stack-1x " style="color:#999999"></i></span>
      <a href="#">Iniciar Sesión</a>
    </li>
  </ul>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav" id="menu">
      <li>
        <a href="#" data-toggle="collapse">
          <i class="fa fa-fw fa-caret-down"></i>
            Recetas y precios
          <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="demo_3" class="collapse">
          <li>
            <a href="#" data-toggle="collapse">
              <i class="fa fa-fw fa-caret-down"></i>
                Recetas
              <i class="fa fa-fw fa-caret-down"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>