<script src="/libs/jquery/jquery.flexslider-min.js"></script>
<link rel="stylesheet" href="styles/flexslider.css" type="text/css" />
<script src="/libs/jquery/jquery-1.6.2.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.flexslider').flexslider({
            touch: true,
            pauseOnAction: false,
            pauseOnHover: false,
        });
    });
</script>

<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="Images/imagen1.jpg" alt="">
        </li>
        <li>
            <img src="Images/imagen2.jpg" alt="">
            
        </li>
        <li>
            <img src="Images/imagen3.jpg" alt="">
            
        </li>
        <li>
            <img src="Images/imagen4.jpg" alt="">
            
        </li>
    </ul>
</div>