<div class="container2" ng-controller='ProductoCtrl'>
    <div class="margenPanelRigth">
        <fieldset>
            <legend>Productos</legend>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-table"></i> Listado de Productos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group row col-md-3">
                            <span class="input-group-btn" style="padding-left:5px;">
                                <a class="btn btn-primary" ui-sref="app.crearProducto"  title='Crear receta'>
                                    <span class='glyphicon glyphicon-folder-open'>
                                        Nuevo
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridSolicitud">
                                Aqui la grilla!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </fieldset>
    </div>
</div>