<div class="container2" ng-controller='SimulacionCrearCtrl'>
	<div class="margenPanelRigth">
		<fieldset>
			<legend>Simulación de Precio</legend>
			</br>


            <fieldset class="fieldset-border">
                <legend class="legend-border">Lista de Productos afectados</legend>
                <table class="table table-bordered table-condensed table-hover">
                    <div class="col-sm-4">
                        <thead>
                            <tr>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Costo actual</th>
                                <th class="text-center">Precio actual</th>
                            </tr>
                        </thead>
                        <tbody>
                           <!--                 <tr ng-repeat="item in CombosxRetiro" class="link">   -->
                            <td class="text-center">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</td>
                            <td class="text-center">jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</td>
                            <td class="text-center">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
                            <!--               </tr> -->
                        </tbody>
                    </div>
                </table>                
            </fieldset>

            <a class="btn btn-primary">
                <span class='glyphicon glyphicon-hand-up'>
                ACTUALIZAR COSTOS DE INSUMOS
                </span>
            </a>
        </br></br>

            <fieldset class="fieldset-border">
                <legend class="legend-border">Detalle de Insimos del Producto</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="gridProductos">
                                <table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Insumo</th>
                                            <th class="text-center">U.M</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Costo Unit.</th>
                                            <th class="text-center">Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                           <!--                 <tr ng-repeat="item in CombosxRetiro" class="link">   -->
                                        <td class="text-right">ll</td>
                                        <td class="text-center">mm</td>
                                        <td class="text-center">nn</td>
                                        <td class="text-center">oo</td>
                                        <td class="text-center">pp</td>
                             <!--               </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                          
            </fieldset>

            <table>
                <div class="form-group row col-md-3">
                    <a class="btn btn-primary">
                        <span class='glyphicon glyphicon-hand-up'>
                        SIMULAR PRECIO
                        </span>
                    </a>
                </div>
                <div class="form-group row col-md-3">
                    <a class="btn btn-primary">
                        <span class='glyphicon glyphicon-hand-up'>
                        CANCELAR
                        </span>
                    </a>
                </div>
                <div class="form-group row col-md-3">
                    <a class="btn btn-primary">
                        <span class='glyphicon glyphicon-hand-up'>
                        ENVIAR A APROBACIÓN
                        </span>
                    </a>
                </div>  
            </table>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputType" class="col-md-2 control-label">Nuevo Costo:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" disabled>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputType" class="col-md-2 control-label">Nuevo Precio:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" disabled>
                            </div>
                    </div>
                </div>
            </div>


		</fieldset>
	</div>
</div>