<div class="container2" ng-controller='controlCostoCtrl'>
    <div class="margenPanelRigth">
        <fieldset>
            <legend>Lista de Insumos con alertas de alza o baja de Costo</legend>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table"></i> Gestión de Alertas de Umbral de Costos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group row col-md-3">
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn btn-primary" ui-sref="app.simularPrecio"  title='Simular Precio'>
                                        <span class='glyphicon glyphicon-folder-open'>
                                            Nuevo
                                        </span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row col-md-3">
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn btn-primary">
                                        <span class='glyphicon glyphicon-search'>
                                            Buscar
                                        </span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-12">
                            <img ng-if="isLoading" src="Images/Wait.gif"/>
                            <table class="table table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Und. Medida</th>
                                        <th>Consto Actual</th>
                                        <th>Tipo Variación</th>
                                        <th>Fecha Alerta</th>
                                        <th>Costo Antiguo</th>
                                        <th>Elegir</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                        <!--        <tr ng-repeat="alerta in listaAlertas">   -->
                                        <td>aa</td>
                                        <td>bb</td>
                                        <td>cc</td>
                                        <td>dd</td>      
                                        <td>ee</td>      
                                        <td>ff</td>   
                                        <td>gg</td>      
                                        <td>hh</td>                                                 
                         <!--       </tr>              -->
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group row col-md-3">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="input-group-btn" style="padding-left:5px;">
                                                <a class="btn btn-primary" ui-sref="app.simularPrecio" title='Simular Precio'>
                                                    <span class='glyphicon glyphicon-hand-up'>
                                                        ATENDER
                                                    </span>
                                                </a>
                                            </span>
                                        </th>   
                                        <th>
                                            <span class="input-group-btn" style="padding-left:5px;">
                                                <a class="btn btn-primary">
                                                    <span class='glyphicon glyphicon-hand-up'>
                                                        CANCELAR
                                                    </span>
                                                </a>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
        </fieldset>
    </div>
</div>